[2020-10-02 14:11] LKaemmerling opened #6 "Add Summary Metric Type"
Similar to a histogram, a summary samples observations (usually things like request durations and response sizes). While it also provides a total count of observations and a sum of all observed values, it calculates configurable quantiles over a sliding time window.

A summary with a base metric name of <basename> exposes multiple time series during a scrape:

streaming φ-quantiles (0 ≤ φ ≤ 1) of

[2020-10-07 18:54] LukeAbell opened #11 "Guzzle 7 Support"
Could guzzle 7 support be added? Laravel 8 requires it now.

[2020-10-08 03:27] LKaemmerling commented on #11
Hey @LukeAbell,

This library does not require Guzzle anymore (with v2, which is a breaking release because of the removed Pushgateway Support). If you need Pushgateway Support there is a new package. Have a look at the Readme :)

[2020-10-08 03:27] #11 closed

[2020-10-08 03:53] LukeAbell commented on #11
@LKaemmerling can you remove it from the composer.json then? That’s what’s blocking the update for me. https://github.com/PromPHP/prometheus_client_php/blob/1e046c09533733c2988a81bfaaab7d2855d7c2e8/composer.json#L23

[2020-10-08 03:56] LKaemmerling commented on #11
Actually as this is only a requirement for development, it should work without removing it. We use Guzzle for the tests.

How did you require the lib?

[2020-10-08 03:57] LukeAbell commented on #11
@LKaemmerling My project requires guzzle 7 so I think there’s a mismatch in package versions that’s breaking it.

[2020-10-08 04:02] LKaemmerling commented on #11
@LukeAbell i just released v2.1.1 which allows guzzle 7 within the dev dependencies.

[2020-10-08 04:08] LukeAbell commented on #11
@LKaemmerling Thank you!! 💯

[2020-10-12 08:55] LKaemmerling opened #13 "Additional Maintainers"
Hello everyone whoever reads this,

I'm searching for additional Maintainers for this important project. If you use the client within production and want to help, just write under this issue and will chat a bit about it.

- Lukas

[2020-10-13 08:36] prdatur opened #14 "Were is the connection to prometheus?"
Hi,

Sorry I do not get it, what is this library for?
I assumed it is a client to the prometheus db, but I can not find any configuration to setup the connection to the database server, nor could I find any code with requests to a database.

Is there any documentation to use this library with an actual database?

My requirement is to connect to our PromQL time series database (currently testing Vi

[2020-10-13 09:08] LKaemmerling commented on #14
This library basically makes it possible to output any metric in the correct Prometheus format. There is no way to "access" the actual TSDB with this lib (accessing the real tsdb isn't recommended by the Prometheus guys, you should always use the admin API)

[2020-10-13 10:39] prdatur commented on #14
I understand that i should not access the underlaying database directly, but I miss in this library something like `->getData(filter, date_from. date_to)` which executes a query to the admin webinterface api and get back the results, or `->insert(fields, date, value)` which inserts the data into the prometheus system with the api.
I thought Prometheus is like other time based database like influx.

[2020-10-13 10:48] LKaemmerling commented on #14
This lib just provides the correct format. Prometheus then scrapes the page itself (on a GET `metrics` endpoint per default).

[code]

Prometheus itself scrapes this exporter/endpoint then and provides the data through the promql API.

This library is not intended to access Prometheus, it is intended to be reached *from* Prometheus.

[2020-10-13 10:50] LKaemmerling commented on #14
Prometheus is not like Influx, Prometheus doesn't provide a database like Influx, Prometheus scrapes it's Exporters/Targets (pull based approach), Influx accepts data from other this (Push based approach)

[2020-10-13 11:00] prdatur commented on #14
Thanks for this information, helped alot :)

[2020-10-13 11:00] #14 closed

[2020-10-14 21:56] mnsami commented on #13
hello, I don't use it, but I like to jump in and volunteer.

[2020-10-15 04:32] LKaemmerling commented on #13
Hey @mnsami,

thank you for your offer! I would like to have someone who has already knowledge about Prometheus and use Prometheus (and this library) in production. Otherwise, it might be hard to understand this library and the things that may come in.

[2020-10-15 05:35] mnsami commented on #13
Sure, I understand and respect your wish, let me know anytime if you change your mind, as I am still interested.

I know there might be a learning curve for me, but I am a fast learner.

Thanks!

[2020-10-15 09:56] rdohms opened #15 "Implement better interfaces"
I had originally submitted this PR to Jimdo library: https://github.com/Jimdo/prometheus_client_php/pull/61

In a general gist it adds better interfacing to the boundaries to allow projects to better handle injection and clean their dependencies.

This one adds an interface to the Registry and the Renderer.

@LKaemmerling is this something you would be open to improving? i would be willing to inve

[2020-10-15 10:00] LKaemmerling commented on #15
@rdohms looks like a valuable improvement!

[2020-10-15 10:54] rdohms commented on #15
Alright, I'll put in the work to port that over and see what else we can improve.

[2020-10-16 11:07] rdohms commented on #13
@LKaemmerling put me down to help. I'll be looking for another SVMK member to be a fallback and we will be looking to see how we can put in some work.

[2020-10-16 22:46] rdohms commented on #15
Closed by #16

[2020-10-16 22:46] #15 closed

[2020-10-20 05:09] LKaemmerling opened #18 "Add default metrics about the gathering process"
ATM all official Prometheus client libraries expose default metrics about the scraping process, like how many RAM was used for the gathering of the metrics, how long did it take?

https://github.com/prometheus/client_golang/blob/master/prometheus/process_collector.go#L63
https://github.com/prometheus/client_python/blob/master/prometheus_client/process_collector.py#L62

Some of the "default" metric

[2020-10-20 08:20] rdohms commented on #18
That would be only for the process of gathering the metrics from storage and formatting in text right?

I think it's worth it if it's standard practice. PHP is not great at measuring all that, but we can try to get some metrics and log them. What we would need to look at is how this plays with all the extra framework stuff out of our control, if we can gather precise metrics or if we are only tell

[2020-10-20 08:25] LKaemmerling commented on #18
My idea would be to add a timestamp + used memory size at the construction of the RegistryCollector and before we render (at https://github.com/PromPHP/prometheus_client_php/blob/f151e0b97e0fa59aee553be8e25b84b52fc4172d/src/Prometheus/CollectorRegistry.php#L69) the metrics again save the timestamp + used memory and calculate the difference between them.

[2020-10-20 15:08] derekrodrigueswunderkind opened #19 "prometheus_client_php v2.1.1 RenderTextFormat fails with an array_combine warning"
Issue:
When rendering metrics, I encountered this error:
`Warning: array_combine(): Both parameters should have an equal number of elements in /var/www/vendor/promphp/prometheus_client_php/src/Prometheus/RenderTextFormat.php:43`

Code Excerpt:
[code]

Stack:
[code]

Steps to reproduce:
After encountering this error, I restarted both my php-fpm and redis docker instances, and unfortunately, no long

[2020-10-21 04:42] LKaemmerling commented on #19
Hey @derekrodrigueswunderkind,

thank you for the report. I had a look into the code and it looks like the definition/registration of one(or more) of your metrics contains more or less labels than your value setting:

Sample:
[code]

[2020-10-21 15:43] derekrodrigueswunderkind commented on #19
Hi @LKaemmerling
Thank you for the prompt follow-up.

That makes sense. It is probable I changed labels during development and neglected to restart redis, resulting in the mismatch.

Thank you.

[2020-10-21 15:43] #19 closed

[2020-11-03 01:36] nickpoulos commented on #13
We can help out too.  We are using Prometheus/Grafana in prod but having issues finding a solid, well maintained Prometheus package for PHP.

[2020-11-05 07:35] foosinn opened #20 "Support floats in Counters"
Hey,

is there a specific reason, that the counter does not support floats? The Gauge for example seems to support floats including the increment methods.

Thanks!

[2020-11-05 09:15] rdohms commented on #20
It would appear the Go docs agree that counter can be floats: https://godoc.org/github.com/prometheus/client_golang/prometheus#Counter as does the Java implementation https://github.com/prometheus/client_java/blob/master/simpleclient/src/main/java/io/prometheus/client/Counter.java#L121

I see no reason to not go ahead and fix this.

[2020-11-05 21:07] rdohms commented on #20
First run through shows that `apcu_inc` does not support floats, so it needs a bit more re-work (https://www.php.net/manual/en/function.apcu-inc.php)

[2020-11-06 12:13] LKaemmerling commented on #20
I guess the best way would be dropping the usage of `apcu_inc` and using `acpu_store` (https://www.php.net/manual/en/function.apcu-store.php). I will look into it if this changes the behavior we have currently. I don't think that it changes the behavior but we need to make sure, that we don't break things.

[2020-11-06 13:42] LKaemmerling commented on #13
Hey @nickpoulos,

this would be great! If you want, you can join our slack channel (https://join.slack.com/t/promphp/shared_invite/zt-iqbocinr-R809BvkEhjuC9W6RRoOofA), and then we can talk about it :)

When you join us, I guess we have "enough" for the core maintaining team (@rdohms and me currently, @bracki as a fallback).

I will close the issue for now, if you find this issue and want to contri

[2020-11-06 13:42] #13 closed

[2020-11-06 15:28] itongTripleLift opened #23 "Redis histogram metadata and metric keys not saved"
When observing a histogram, there's a chance the metric metadata and keys are not saved set in Redis.

On https://github.com/PromPHP/prometheus_client_php/blob/master/src/Prometheus/Storage/Redis.php#L188-L191, there's a conditional checking the return value of hIncrByFloat with the value passed in. The only time this check can be `true` is the first time the metric is observed. Subsequent calls w

[2020-11-09 06:27] LKaemmerling commented on #23
Hey @itongTripleLift ,

i think i don't get your problem. With my tests locally everything is fine:

observe(0.01):
[code]

(Bucket 0.05 is 0, because 0.01 is > 0.05)

Now when i change the observe to `0.001` (I cleared the redis between both runs)
[code]

and then, a third test case was:
Running first with observe (0.01), and then with observe(0.01):
[code]

So i guess i don't get your problem :)

[2020-11-09 14:54] itongTripleLift commented on #23
Hey @LKaemmerling thanks for taking a look.

I noticed something interesting with your histogram floats. They don't seem to have the precision that we're seeing, which may explain why it's working for you.

Here's some sample output:

Running observe(0.01)
[code]

Running observe(1)
[code]

Running observe(1) and then observe(0.01)
[code]

Here's some extra output:
var_dump of (0.01)
`float 0.0100

[2020-11-09 14:57] LKaemmerling commented on #23
Can you tell me a bit more about your test system? Which redis version, which phpredis version? For my tests i used the latest phpredis version.

[2020-11-09 14:59] nickpoulos commented on #23
Hmm interesting. I was playing with it more over the weekend, and I did observe behavior as I Hou described.

With a fresh spin up, no metrics initialized, `/metrics` looks like:

[code]

If I take the code I Hou provided, and run it with `->observe(.01)` using a floatval as the initial value, I will not see any metrics rendered for the histogram and `/metrics` looks the same as the initial one ab

[2020-11-09 15:35] nickpoulos commented on #23
This testing is being done locally, using redis:alpine latest docker images, so v6.x.

As for PECL:

[code]

[2020-11-10 06:33] LKaemmerling commented on #23
I tried it now with the `redis:alpine` image (using redis 6.0.9) and I can't reproduce it. Which client version do you use? Could you try to use the master branch?

Things i tried (just to exclude the possibilities):
- Running redis locally within a docker container
- Running redis locally (on host)
- Running redis remote within a docker container
- Running redis remote (on host)

So i really thin

[2020-11-10 16:36] itongTripleLift commented on #23
Here's the test result using InMemory Storage:

observe(0.01)
[code]

observe(1)
[code]

observe(1) and then observe(0.01)
[code]

I think this depends on how you look at it. For us, the problem is with Redis Storage because of the float comparison. The precision being returned by Redis is different from what we're passing in (17 vs 60).

[2020-11-11 05:47] LKaemmerling commented on #23
I guess i found something. What is the output when you run `php -i | grep 'precision'` ?

My first assumption is that it isn't the default (default is 14):
[code]

So basically the only "fix" i can imagine would be hardlimiting the buckets to something like "max 3/4 digits after the dot".

[2020-11-11 05:49] LKaemmerling commented on #23
Okay, my assumption was correct. I guess you have set `precision=60`, because with that precision i see the same label values as you see :)
[code]

So the only "fix" i would see, would be limit the float number to something like max. 16 digits after the dot. I will prepare a small MR with that fix and then i would ask you to test it out :)

[2020-11-11 06:20] LKaemmerling commented on #23
Okay limiting the number is not that easy, because PHP just ignores it, i would need to cast it to a string (otherwise PHP will always store the 60 numbers after the dot)....

[2020-11-11 06:54] LKaemmerling commented on #23
So i talked a bit with a few other PHP devs and i think this is not fixable, because it is a "problem" that you configured.
[code]

By setting the precision to 60 PHP basically "ignores" every other "precision" given, like on the round command.

[2020-11-11 14:45] itongTripleLift commented on #23
@LKaemmerling yup that was it. We didn't realize that the default precision of 14 was being overwritten 🤦 . We're using the default precision now and the metrics are working as expected.

[2020-11-12 05:48] LKaemmerling commented on #23
Great :) I will close this issue then.

[2020-11-12 05:48] #23 closed

[2020-11-17 22:06] #20 closed

[2020-11-30 12:27] encero opened #27 "APC Adapter hangs if APCu is disabled"
Hello, i want to discuss possible solutions for "issue" with APC Adapter.

If CollectorResgistry is instantiated with APC adapter and apcu is not enabled, any call to observe metrics will hang in endless loop. For instance in this snippet from updateHistogram.

apcu_fetch and apcu_cas returns `false` when apcu is disabled, so the `!$done` condition is never met.

[code]

Possible solutions from my

[2020-11-30 12:29] LKaemmerling commented on #27
I guess solution 1. would be great, as the APCU is a hard requirement and it should be enabled. The same is valid for the Redis Storage adapter (with redis of course).

It would be great if you have the time to solve it and contribute a fix :) We are open for everything and will look into it as fast as possible.

[2020-12-01 05:51] #27 closed

[2020-12-01 06:09] LKaemmerling commented on #27
@encero a big thank you for your improvements. I just released a new version with your fixes :)
https://github.com/PromPHP/prometheus_client_php/releases/tag/v2.2.1

[2020-12-01 21:03] jbouzekri opened #32 "Don't use colon in metric names"
All the metrics are namespaced in the library :

https://github.com/PromPHP/prometheus_client_php/blob/master/src/Prometheus/CollectorRegistry.php#L273

However these are for the use of a person writing recording rules on the Prometheus server : https://prometheus.io/docs/practices/rules/ as stated in the documentation https://prometheus.io/docs/practices/rules/, `Note: The colons are reserved for

[2020-12-13 17:59] jbouzekri commented on #32
My bad, I did not read the code deep enough : https://github.com/PromPHP/prometheus_client_php/blob/master/src/Prometheus/Collector.php#L44

It uses underscore in the metric name. I close the issue.

[2020-12-13 17:59] #32 closed

[2020-12-18 14:53] encero opened #34 "Lock composer development dependecies"
It is a general practice to not commit composer.lock files for libraries. It is unfortunate to have broken PR check when some analytics dependency like phpstan is upgraded and has new checks.

[2020-12-18 20:26] rdohms commented on #34
I'm honestly in favor of having the lock file so we can indeed control the dependencies. Long ago I advocated a lot for this. @LKaemmerling what do you think? It has no downstream impact what-so-ever and it gives our contributors a more "solid" set of dependencies to contribute against, thus less unrelated breakage.

With Dependabot enabled we should have no issues of outdated libs anyway.

[2020-12-21 07:01] LKaemmerling commented on #34
I personally think we shouldn't commit the lock file. I would prefer to lock down the phpstan dependency in this case or even better, fix the "problem" (in a different MR).  Committing the lock file might lead to problems on the user side.

Dependabot itself is already activated but we have so less dependencies, that it doesn't need to take any action atm.

[2020-12-21 07:49] encero commented on #34
@LKaemmerling can you please specify the problems which can be at user side?

I double checked the composer doc. And it no longer has the notion about not comitting lock file in libraries ( i am readonably sure there was such advice few years back )

The relevant part is below

---

Of course is out of question, that the "problem" should be fixed :)

[2020-12-21 08:12] encero commented on #34
Just to clarify myself. I don't want to change development and contribution workflow of this library. It was just nasty suprise to have everything working on local machine and broken when pushed to github as PR.

[2020-12-23 08:17] LKaemmerling commented on #34
Okay I would be fine doing it. I didn't know that composer changed the "suggestion" for lock files in libraries.

[2021-02-04 02:32] thedeacon opened #36 "APC engine very slow when APCu contains many keys - O(N^2) performance"
I am running the prometheus_client_php code on servers with several million entries in APCu.  The use of nested calls to `APCUIterator` in `collectCounters()`, `collectGauges()`, and `collectHistograms()` is O(N^2), with N being the number of keys stored in APCu.  When N is large -- several millions of keys -- this slows the code to a crawl and makes the APC storage engine unusable.

In my staging

[2021-02-04 05:35] LKaemmerling commented on #36
Hey @thedeacon,

this sounds interesting! The only problem i see is that we would need to be backward compatible, so maybe using a new Storage Class (APCv2) would be a better idea. Feel free to open a MR!

Thank you!
- Lukas

[2021-02-04 07:48] thedeacon commented on #36
@LKaemmerling,

Cool, I'll do that.  Just FYI, I implemented the code to be drop-in compatible with the existing APC storage class from an API perspective.  All the public methods and parameters are unchanged.  The modular design of the storage layer vs the rest of the code was really helpful there!

I'm pretty sure that's what you mean when you refer to being backward-compatible -- I can swap out

[2021-02-08 19:56] boesing opened #38 "Histogram labels are dropped for redis"
Hey there,

not sure if thats how histograms work but with https://github.com/PromPHP/prometheus_client_php/commit/19ff5d15bacc44a48542f5564a35610aad2c6c4a, all labels were dropped from histogram metrics.

Is that intended and if so, could someone lead me to the prometheus docs where it says that histograms must not have labels?

Thanks in advance.

PS: If thats not intended, I'd be happy to contr

[2021-02-08 20:45] boesing commented on #38
nvm... there are multiple keys created. The labels are available within the `_bucket` metric.

[2021-02-08 20:45] #38 closed

[2021-02-09 23:14] thedeacon commented on #36
@LKaemmerling any feedback, questions, comments on the current MR #37 ?

[2021-02-10 05:49] LKaemmerling commented on #36
Hey @thedeacon,

thank you for the ping! I didn't had time to look that deep into it like the change request it. I guess that I will have the time within this week.

[2021-02-23 11:21] nussjustin-hmmh opened #39 "Counters not tracked in Redis when using floats"
The Lua script for incrementing and tracking counters uses either `HINCRBY` or `HINCRBYFLOAT` depending on whether the value to increment by is an integer or a float.

The first time a counter is incremented the key is also added to a set of counters, which is then later used to find all counters.

To check whether a counter was newly created the Lua script compares the new counter value with the

[2021-02-24 11:47] evilworm commented on #39
I can confirm the issue, just stumbled upon this as well...
As a quick workaround you can compare if tostring(result) == tostring(ARGV[2]) in the updateCounter(...) method in Storage/Redis.php

[2021-02-24 12:44] LKaemmerling commented on #39
@nussjustin-hmmh @evilworm thank you for the report, do you have time to submit an MR with a fix?

[2021-02-24 14:26] evilworm commented on #39
tostring() unfortunately is not the answer since float precision in redis is 17 digits

[code]

[code]

you would have to round the value to 17 digits, however I'm unable to get constant output from various float functions
[code]

apparently incbyfloat does some kind of a hybrid form of float-string which is rounded with math.round if precision is greater than 17 digits... however internal string.

[2021-02-24 14:54] nussjustin-hmmh commented on #39
I think the easiest solution would be running an `HEXISTS` before incrementing the value. The overhead should also be minimal.

[2021-02-26 09:47] evilworm commented on #39
since it's a set, you should probably use `SISMEMBER` instead of `HEXISTS`

just tried this for updateCounter(), works great:
[code]

I'm not sure about the performance penalty, but the documentation states that complexity for `SISMEMBER` is `O(1)` which means "constant time" ... so I think that's good enough, right?

[2021-02-26 11:19] nussjustin-hmmh commented on #39
I was thinking of checking for the existence of the incremented float but checking the set also works. In that case instead ofusing `SISMEMBER` you could just call the `SADD` directly and check the return value (which will be the number of added values, so 1 means the value is new and 0 means the value was already in the set). The complexity is the same O(1) and should be as fast as `SISMEMBER` wh

[2021-03-03 09:26] boesing opened #40 "Invalid metrics name are stored to backend but cannot be read by prometheus"
Hey there,

I've recently added a metric name containing a `-` in it. Sadly, the client stores it to the backend and adds it to the meta and now I cannot easily remove the metric from the backend because there is that `PROMETHEUS_histogram_METRIC_KEYS` key containing all available keys...

So I'd like to feature request some kind of metric name validation so it is impossible to store keys not matc

[2021-03-03 09:28] LKaemmerling commented on #40
Hey @boesing,

good idea! I will open up a MR with this change shortly.

[2021-03-03 09:34] boesing commented on #40
Would have done that by myself but later on. But sure, if you're adding it, that would be appreciated.

[2021-03-03 09:36] boesing commented on #40
It seems that there is already some validation in the `Collector` abstract class, but we are using the adapter interface directly and thus the validation is missing.

[2021-03-03 09:40] LKaemmerling commented on #40
Yeah this is a "problem". But actually I still think that it is validated on the wrong layer. It should be validated in the Registry aswell.

[2021-03-03 09:44] boesing commented on #40
Well, we are just calling the `Adapter` as we do not want to depend on concrete implementations.
We want to switch to `Statsd` later on, thus we abstracted this library in a domain interface which then directly passes metrics to the prometheus `Adapter`.

Thats why I've added the validation on our side but I just wanted to trigger awareness that there is still code which passes the metric to the s

[2021-03-03 09:52] LKaemmerling commented on #40
@boesing i just opened up an MR: https://github.com/PromPHP/prometheus_client_php/pull/41

basically, it is not a real fix, as I think we shouldn't validate everything on every layer. As you said you use the storage adapters in an unintended way, so I just added methods to validate the metric names & label keys easily.

[2021-03-04 13:50] EdgarSedov commented on #39
Just installed the library and wasted 2 hours to debug same issue) This bug existed for 15 months already, am i right?
![image](https://user-images.githubusercontent.com/16332716/109973648-bcc2e900-7d09-11eb-96ec-0637dadcc056.png)

[2021-03-04 14:01] #40 closed

[2021-03-05 08:54] #39 closed

[2021-03-05 08:59] LKaemmerling commented on #39
@EdgarSedov @evilworm @nussjustin-hmmh  i just released `v2.2.2` which contains the fix from @nussjustin-hmmh for this issue.

[2021-03-05 16:33] EdgarSedov commented on #39
@LKaemmerling Looks like now histograms are broken :)

Reproduce example:
[code]

Counter with float works btw :)

[2021-03-08 09:00] oqq opened #43 "BC break in v2.2.2"
Hi Folks!

The version v2.2.2 adds a new method `wipeStorage()` to the `Adapter` interface.
This breaks all implementations in private libraries, which is hard move for a patch release.

Maybe this method should be removed for all v2 releases and added again in a major v3 release.

greetings!

[2021-03-08 09:21] LKaemmerling commented on #43
Hey @oqq,

I understand your concerns about the change, but unfortunately, I wouldn't call this a Breaking Change. It is a bugfix for the existing Storage Adapters and we encourage all users to use the given StorageAdapters.

I'm unsure if we should really remove that functionality again, as I don't see the benefit of removing this again and having a partly broken deletion there.

Commit that intr

[2021-03-08 09:34] oqq commented on #43
Hey @LKaemmerling,

thanks for your fast reply.

This issue is not about the new functionality. Previously the documentation has referred to now deprecated methods for storage clearance. So maybe it would be enough to reference this new method without adding it to the interface.

So if this interface is not meant to be used from other libraries, a "@internal" annotation would be nice.

I fully und

[2021-03-09 16:06] EdgarSedov opened #44 "Counters, gauges and histograms init with zero values"
Atm u can't create histogram with zero value upfront (for correct grafana increase function to work), because it will increment _count and mess with averages in future. It would be nice to have initialization mechanics (for example, on register method), as discussed in other clients, like [here](https://github.com/prometheus/client_ruby/issues/141) or [here](https://github.com/siimon/prom-client/i

[2021-03-10 05:43] LKaemmerling commented on #44
Hey @EdgarSedov,

good point! I already looked a bit into the code and I don't think this is easy solvable. The "problem" is that we only set the value/metric when you call inc/set/observe on the specific metric types. Before it does not "reach" the underlying storage and will be "thrown" away. I will think about it a bit more, but I think we can not fix it with the current architecture for this l

[2021-03-12 13:02] EdgarSedov commented on #44
@LKaemmerling Hi' i've made a draft with possible solution, please take a look when u'll have some time

[2021-03-15 06:11] LKaemmerling commented on #43
Hey @oqq,

you are completely right, i will look more deeper in the changes that they follow semver before releasing everything. Thank you! I think I learned my lessons about it :)

I will close the issue for now :)

[2021-03-15 06:11] #43 closed

[2021-03-23 14:17] hrodic opened #48 "Exemplars support"
Prometheus have added support for Exemplars, which are a technique to allow linking metrics (like histograms buckets) with tracing.
The golang client library supports them already
https://github.com/prometheus/client_golang/blob/75560f1d20c5e1fd435c0d26b5601843a18dc22b/prometheus/histogram.go#L278

Not really sure if it will go by design here
https://github.com/PromPHP/prometheus_client_php/blob/m

[2021-03-26 07:54] hamed-fo opened #49 "Redis Persistenet Connection Default Value"
Hello,
In Redis class the default value for `persistent_connections` is set to `False` while in `connectToServer` method it is compared against `null`. So persistent connections are made by default which probably is not the desired behavior (according to the default value of `persistent_connections`).

[2021-03-29 05:37] LKaemmerling commented on #49
Hey @hamed-fo,

yep, you are right, this does not look correct. Do you want to submit a Pull Request :)? Otherwise, I would submit a fix within this week.

Cheers,
Lukas

[2021-03-29 05:42] LKaemmerling commented on #48
Hey @hrodic,

good idea, on a first (not deep) look it looks like this is something we can consider doing. Would you like to submit an MR :)? Otherwise, I would try to tackle this in the next two weeks.

Cheers,
- Lukas

[2021-04-22 05:06] #49 closed

[2021-04-26 20:49] mp3000mp commented on #6
Hi @LKaemmerling, is it a feature you'll be interested to include in this library ?

If yes, I would be glad to work on a PR inspired by the [Java](https://github.com/prometheus/client_java/) and [Go](https://github.com/prometheus/client_golang) implementations.

[2021-04-28 12:34] LKaemmerling commented on #6
Hey @mp3000mp,

sure :) Feel free to work on a MR and i will look over it.

[2021-04-29 17:08] hrodic commented on #48
I am not able to work on this soon but I might eventually. Thank you.

[2021-05-05 18:34] WouterFlorijn opened #55 "Allow setting an expiration time for metrics"
Correct me if I'm wrong, but as far as I can tell there's no expiration time set on metrics stored in redis. Would it be possible to add this as an option, to prevent the storage gradually filling up?

[2021-05-13 12:01] kimkit opened #56 "missing array type"
Fatal error: Declaration of Prometheus\CollectorRegistry::registerGauge(string $namespace, string $name, string $help, $labels = Array): Prometheus\Gauge must be compatible with Prometheus\RegistryInterface::registerGauge(string $namespace, string $name, string $help, array $labels = Array): Prometheus\Gauge in ***/vendor/promphp/prometheus_client_php/src/Prometheus/CollectorRegistry.php on line 1

[2021-05-27 09:51] Bogdaan opened #58 "Label name validation issue"
# Agenda

As a developer, I want to send correct label values to prometheus.

Example:
[code]

How can I send this metric:
[code]

But, I got an error:
https://github.com/PromPHP/prometheus_client_php/blob/bca39eb7cbdbeeed9896aa077c18ab55372eee55/src/Prometheus/Collector.php#L114

assertValidLabel function validates **label values**, not **label names**

# Proposal

Accept asossiative ar

[2021-06-08 11:23] Swop opened #60 "[Gauge] decBy() should be able to receive a float value"
Hi,

Looks like the `Prometheus\Gauge::decBy` method is forcing the caller to send an `int` value. Here's the method signature:

[code]

I think this a mistake, because `set()` and `incBy()` accept `float` values:
[code]

Am I missing something?
I can create a PR if you want to fix the issue, but I wasn't sure if there was any kind of issues preventing the usage of a flat specifically here.

Thx

[2021-06-17 05:03] LKaemmerling commented on #60
Hey @Swop,

this is already fixed in the master (https://github.com/PromPHP/prometheus_client_php/commit/8564d6b0ae6a19d40abfc360950341f0f2130ca8) but was not released yet.

[2021-06-17 05:04] #60 closed

[2021-07-19 20:35] Radiergummi opened #62 "Do not collect default metrics in constructor"
Currently, the collector registry can be instructed to collect the default metrics by passing [the `$registerDefaultMetrics` flag](https://github.com/PromPHP/prometheus_client_php/blob/bca39eb7cbdbeeed9896aa077c18ab55372eee55/src/Prometheus/CollectorRegistry.php#L50) to the constructor:
[code]
The registry will [register the default metrics](https://github.com/PromPHP/prometheus_client_php/blob/bc

[2021-09-13 11:51] cwreden opened #66 "Missing tags for last merges"
Hello together,

since v2.2.2 there are no tags for the latest merges.
Is it possible to tag the latest merges?

We don't want using the "dev-master" as dependency.

https://github.com/PromPHP/prometheus_client_php/commits/master

Best regards
Christian

[2021-09-13 14:37] hasc opened #67 "Make polyfill-apcu a dev dependency"
Hi,

thanks for sharing this library!

I am seeing an error PHP message: PHP Warning:  Can't preload already declared class APCuIterator in app/vendor/symfony/polyfill-apcu/bootstrap80.php with php 8 and apcu extension installed.

Would it be possible to make symfony/polyfill-apcu a dev-dependency and maybe a composer suggestion?

Best
h

[2021-09-14 05:39] #67 closed

[2021-09-14 05:41] LKaemmerling commented on #66
Hey @cwreden,

i just released v2.3.0 with the last changes :)

[2021-09-14 05:41] #66 closed

[2021-11-10 08:09] dirx opened #73 "Redis::ensureOpenConnection should only connect once"
Hi,

looks like `$this->connectionInitialized = true;` is not set at the end of method `Redis::ensureOpenConnection` after successful calling`$this->connectToServer()`and setting options. This leads to new connects on each call.

[2021-11-10 20:23] #36 closed

[2021-11-11 06:12] jignesh26 opened #74 "APCU flushing data"
When we try to get the data it is showing data upto some level and then starting form the beginning or flushing the data.

[2021-11-26 15:30] pjarmalavicius opened #78 "Summary is calculated wrong?"
I have the following samples `[1.33, 2.33, 2.33]`.
Summary metric is returned like this:
[code]

Compared results with [Go prometheus client](https://github.com/prometheus/client_golang) and it return different result
[code]

Also tried some online percentile calculators:
 - https://goodcalculators.com/percentile-calculator/ - same result as on Go client
 - https://www.dcode.fr/numbers-quantile -

[2021-11-30 20:44] mp3000mp commented on #78
Hi, this is because the quantile is calculated using a linear interpolation when the quantile is between two values.

But to be honest I implemented the function this way because I found a source on the php.net documentation (as mentionned [here](https://github.com/PromPHP/prometheus_client_php/blob/master/src/Prometheus/Math.php#L11)) and I didn't even know there were more than one way to calcula

[2021-12-01 05:21] LKaemmerling commented on #78
Hey,

I guess we should follow the same way as the go client. @mp3000mp do you want to prepare the change :)? I guess we can do it as a bug fix. If not, I will try to come up with a fix in the next two weeks.

[2021-12-01 17:30] pmcgoverncw opened #79 "Implement URL/DSN parsing for redis connection string (or incorporate predis/predis bundle to handle redis connection)"
Currently there is no way to use a URL/DSN to define redis connection parameters, which is problematic in applications that use bundles such as predis or SNC Redis, which allow redis connection parameter definition via a dsn.

This request is to implement an option to define redis connection parameters as either separate values (as it is now in this bundle)  OR as a single DSN.

Example of URL par

[2021-12-01 18:10] pmcgoverncw commented on #79
Another example is the snc/sncredisbundle dns parser: https://github.com/snc/SncRedisBundle/blob/master/DependencyInjection/Configuration/RedisDsn.php#L169

[2021-12-02 07:29] LKaemmerling commented on #79
Hey @pmcgoverncw,

good idea! If you want (and have time) feel free to submit a MR :)

[2021-12-08 18:51] mp3000mp commented on #78
Thanks for the answer, I've just submitted the PR #81.

[2022-02-04 12:39] ShipilovDG opened #85 "Validation values"
https://github.com/PromPHP/prometheus_client_php/blob/cb7ee990c1a7ca1f8553c531959d13b1450f9f20/src/Prometheus/Storage/APCng.php#L754

if some of $values will be numeric, like status code for example, then it will not work with "false !== ($value = apcu_fetch($key))", because json_encode will return different strings to base64encoder.

i tried this and it works, but i guess it's bad solution. Hope

[2022-02-21 12:55] rdohms opened #86 "APC may be ignoring encoding issues"
As per [pack manual page](https://www.php.net/manual/en/function.pack.php)

We [seem to rely](https://github.com/PromPHP/prometheus_client_php/blob/master/src/Prometheus/Storage/APC.php#L453) on a `!== false` check

It now throws `ValueError` Exceptions which we are not catching.
As per [this commit](https://github.com/php/php-src/pull/6185/files) in core.

[2022-02-25 16:38] bburnichon opened #87 "Breaking Changes along the way"
Hello, I came by this fork migrating a project from using `endclothing/prometheus_client_php` to latest php 8.1 version. Thanks for your hard work

Along the way, #31 & #53 were merged and considered as adding features and so, bumping minor of the package.

Troubles come from adding method to public interfaces, namely `Prometheus\Storage\Adapter`. Each of this addition breaks an homemade Storage a

[2022-02-27 11:52] LKaemmerling commented on #87
Hey,

The Storage Apdater Interface is not part of the Public API. It is part of the private API, and is used to unify the own StorageEngines (Redis & Co).  Therefore this is not considered a Breaking Change, as the Collector (which is the Public API) was not changed.

[2022-02-27 11:52] #87 closed

[2022-03-04 06:07] ShipilovDG commented on #85
@LKaemmerling

[2022-04-08 07:33] pachico opened #88 "Wipe storage from registry itself"
I have the necessity to be able to wipe either 1) a metric (preferable, as in Golang's client) or 2) the entire storage but I see it's not possible since the only way to wipe data is through the storage.
Unfortunately, though, there is no storage getter either in the registry.

Which solution would you prefer? I can send an MR, if you find one of these features is acceptable.

To give more context

[2022-04-11 18:58] #73 closed

[2022-04-12 14:12] pachico commented on #88
Closed by #89

[2022-04-12 14:12] #88 closed

[2022-05-19 13:22] stefanoparkopedia opened #90 "keys/scan redis commands shouldn't be used"
I've upgraded to Laravel 8 and the performance was poor;  digging into it I found out that `$registry->getMetricFamilySamples()`, when using the Redis adapter, uses the `keys` Redis command that's a performance killer (redis is single-threaded).

https://github.com/PromPHP/prometheus_client_php/blob/10881142d2c55de19f529ebbcb7f89558c6d46d4/src/Prometheus/Storage/Redis.php#L488

[2022-05-31 21:33] ikhabitoff commented on #90
We also met with a similar problem. Radis recommends using scan instead of keys when looking for keys. I tried to replace the method without breaking the library tests and created pull request. You can try to use my solution temporarily. #91

[2022-06-01 05:33] LKaemmerling commented on #90
Hey,

thanks to @ikhabitoff who fixed it :) The release with the fix was just tagged (2.6.1).

[2022-06-01 05:33] #90 closed

[2022-06-17 10:05] timmipetit opened #92 "Bad performance after updating to v2.6.1"
After updating to v2.6.1, which introduced https://github.com/PromPHP/prometheus_client_php/pull/91, we've seen a enormous drop in performance for our collection script. This is interesting, because the merge request is meant to increase performance.

Here's a screenshot from the average response time of our prometheus collection script:
<img width="965" alt="Screenshot 2022-06-17 at 11 50 11" src

[2022-06-17 20:14] LKaemmerling commented on #92
Hey @timmipetit,

can you try to downgrade to v2.6.0 just to make sure it is really related to the script? How many metrics do you expose? Might it be that the redis has a lot of keys?

[2022-06-20 07:28] timmipetit commented on #92
Hi @LKaemmerling. We've downgraded back to v2.6.0, and performance is back to normal for us. We don't expose a lot of metrics, 6 histograms (with 16 buckets each) and 3 gauges (so no summaries). But our Redis instance is also used for sessions though, so we do have a lot of other keys (400k or so). The keys used for sessions have a different prefix. But since `scan` will iterate all keys, it will

[2022-06-29 11:11] grogy commented on #92
I have to say the same from project https://supportbox.com/ - after upgrade to 2.6.1 so bad performance. Wipe storage (Redis) does not help.

[2022-06-30 03:47] LKaemmerling commented on #92
Hello together,

i just released v2.6.2 with the revert of the given MR.

[2022-07-13 10:20] tforesti opened #94 "Type issue on bucket values"
Hey,

I think there is an issue, if you try this :

[code]

You get `PHP Fatal error:  Uncaught TypeError: str_replace(): Argument #3 ($subject) must be of type array|string, int given`
Here `src/Prometheus/RenderTextFormat.php(59)`
Because bucket values are "labelized" and labels values are "sanitized".

I found a workaround :
[code]
But I think it is not the way it should work, am I right ?

[2022-09-13 11:12] joec4i commented on #94
Hi @tforesti I think this was fixed in https://github.com/PromPHP/prometheus_client_php/pull/17 .

[2022-09-14 09:55] tforesti commented on #94
Hi, yes it actually seems to be OK, I probably made a mistake with versions, sorry!

[2022-09-14 09:55] #94 closed

[2022-10-14 14:01] tomb1n0 opened #95 "Redis Sentinel?"
Is there any guidance on how to configure this library to work with Redis Sentinel?

Our infrastructure makes use of this for high availability reasons, we have 3 separate nodes for this.

[2022-10-14 14:14] LKaemmerling commented on #95
Hey @tomb1n0,

there is currently no easy way to do so. We simply don't support it at the moment. If you would have time, maybe this would be a great opportunity to contribute :) I'm willing to accept any contributions in this area.

[2022-10-14 14:24] tomb1n0 commented on #95
Hey @LKaemmerling

Thanks for the speedy response! I was afraid that was going to be your answer 😅

If i get some time i will see what's involved, thanks again.

[2022-11-17 19:53] RomanOrlovDev opened #97 "Missing compose and other essential libs in php-fpm/Dockerfile"
Hi Guys,

just wondering - how do you install composer dependencies for the project if composer itself missing in the image that built from php-fpm/Dockerfile?

Also zip extensions are missing there

[2022-11-19 11:54] jaco opened #98 "Redis storage uses KEYS for metrics collection"
KEYS is very expensive command, according to manual:

I saw that there was an attempt to change KEYS to SCAN  and performance dropped.

IMO redis storage should use some kind of list/set to keep track of used metrics.

In our deployment, keys command its responsible for 90%+ load of whole redis instance and we use redis storage ONLY for jobs (APCu  for http requests).

[2022-11-19 12:12] jaco commented on #98
I have deleted service monitor for test purposes :)

<img width="822" alt="image" src="https://user-images.githubusercontent.com/60188/202850251-6decfa54-c154-4082-b0a7-f1dc3aa1e840.png">

[2022-11-19 17:33] LKaemmerling commented on #97
Hey @RomanOrlovDev,

this is used just in our Blackbox tests. It is build in the docker-compose file in the root folder and basically just there to have a basic web server to perform tests against :)

[2022-11-27 21:15] LKaemmerling commented on #98
Hey @jaco,

i guess solving this will require a breaking change, as we would need to store something like metadata. At the moment I would like to avoid making a breaking change. Maybe we can go a similar route like we did it with APC (APCNg). I guess this would be the best idea for now, or do you maybe have a better idea?

[2022-11-28 17:31] LKaemmerling commented on #98
@jaco I have a working "RedisNG" ready. The tests pass locally but for the CI I still fight against them. You can find it in this MR: https://github.com/PromPHP/prometheus_client_php/pull/99

Would it be possible that you test it against your workload? It is a completely new storage engine as I changed the way how the the summary keys are saved (this was basically the only part that used KEYS).

[2022-11-29 05:46] LKaemmerling commented on #92
Hey @grogy & @timmipetit,

would it be possible that you test https://github.com/PromPHP/prometheus_client_php/pull/99/files against your workload (new StorageEngine `RedisNG`). This basically fixes the usage of KEYS and SCAN.

[2022-11-29 05:47] #6 closed

[2022-11-30 11:00] timmipetit commented on #92
@LKaemmerling Thanks for the heads up. We'll test it